test --test_output=errors
test --config=debug
build:debug -c dbg --copt -fsanitize=address --linkopt -fsanitize=address
build --copt -Wall --copt -Wextra --copt -Wpedantic --copt -Werror
common --lockfile_mode=off
